menuconfig PROVISIONER
	bool "Runtime provisioner"
	depends on BUILD_WITH_TFM
	select PSA_CRYPTO
	select BASE64
	help
	  Build the runtime credential provisioner (KMU/ITS iterable runner).
	  Enable in provisioner application images only.

if PROVISIONER

module = PROVISIONER
module-str = Provisioner subsystem
source "$(ZEPHYR_BASE)/subsys/logging/Kconfig.template.log_config"

source "$(ZEPHYR_NRF_MODULE_DIR)/subsys/bluetooth/fast_pair/fp_provision/Kconfig.fp_provision"

endif # PROVISIONER
