#
# Copyright (c) 2026 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menuconfig FP_PROVISION_DATA
	bool "Fast Pair provisioning registration"
	depends on PROVISIONER
	select PSA_WANT_KEY_TYPE_ECC_KEY_PAIR_IMPORT
	select PSA_WANT_ECC_SECP_R1_256
	select PSA_WANT_ALG_ECDH
	help
	  Link Fast Pair KMU/ITS registration entries into the provisioner.
	  Does not enable the Fast Pair Bluetooth stack.

if FP_PROVISION_DATA

rsource "../Kconfig.credentials"

endif # FP_PROVISION_DATA
