/*
 * Copyright (c) 2026 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

/* Use the target device overlay */
#include "nrf54l15dk_nrf54l15_cpuapp_ns_mcuboot.overlay"
